:root {
  --text-color: #a8a8a8;
  --background-color: #292929;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100%;
  margin: 0;
  overflow: hidden;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

.container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.page {
  scroll-snap-align: start;
  height: 100vh;
  font-size: 1.5rem;
  padding-top: 80px;
}

a:hover {
  font-weight: bold;
}

/* NAVBAR */
.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 50px;
  height: 80px;
  background-color: #3f3f3f;
}

.top-nav .left {
  display: flex;
  align-items: center;
}

.top-nav img {
  width: 10%;
  height: auto;
  border-radius: 50%;
}

.top-nav .left span {
  font-size: 22px;
  font-weight: 600;

  padding-left: 15px;
}

.top-nav .right a {
  color: var(--text-color);
  margin: 0  10px;
}

.top-nav .right a span {
  margin-left: 5px;
}

/* Page 1: Introduction */
.page1-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 50px;
  gap: 40px;
  width: 100%;
}

.page1-content .text {
  flex: 3;
  font-size: 20px;
  color: var(--text-color);
}

.page1-content .text h2 {
  font-size: 45px;
  color: var(--text-color);
}

.page1-content .toc {
  flex: 1;
  max-width: 250px;
}

.toc {
  background: #3f3f3f;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

.toc h3 {
  margin-bottom: 20px;
}

.toc ul {
  list-style: none;
  padding-left: 0;
}

.toc li {
  margin-bottom: 10px;
}

/* SECTION 2: Introduction */

.page2-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 30px;
  gap: 10px;
  width: 100%;
}

.page2-content .text {
  flex: 1;
}

.page2-content .text p {
  margin-bottom: 20px;
}

.page2-content .images {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page2-content .figure {
  display: flex;
  flex-direction: column;
  width: 33%;
  align-items: center;
  padding: 20px;
}

.page2-content .figure a {
  display: flex;
  display: inline-block;
  justify-content: center;
  text-align: center;
}

.page2-content .figure img {
  border-radius: 1%;
  object-fit: cover;
  display: block;
}

.page2-content span {
  margin-top: 20px;
}