:root {
  --text-color: #a8a8a8;
  --background-color: #292929;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100%;
  margin: 0;
  overflow: hidden;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

.container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}

.page {
  scroll-snap-align: start;
  height: 100vh;
  font-size: 1.5rem;
}

a:hover {
  font-weight: bold;
}

/* NAVBAR */
.top-nav {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 50px;
  height: 80px;
  background-color: #3f3f3f;
}

.top-nav .left {
  display: flex;
  align-items: center;
}

.top-nav img {
  width: 10%;
  height: auto;
  border-radius: 50%;
}

.top-nav .left span {
  font-size: 22px;
  font-weight: 600;

  padding-left: 15px;
}

.top-nav .right a {
  color: var(--text-color);
  margin: 0  10px;
}

.top-nav .right a span {
  margin-left: 5px;
}

/* Page 1: Introduction */
.page1-content .top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
  gap: 40px;
  width: 100%;
}

.page1-content .text {
  flex: 3;
  font-size: 20px;
  color: var(--text-color);
}

.page1-content .text h2 {
  font-size: 45px;
  color: var(--text-color);
}

.page1-content .dog-dance {
  padding-right: 50px;
  padding-left: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.page1-content .text p {
  margin-bottom: 10px;
}

.page1-content .toc {
  flex: 1;
  max-width: 300px;
  background: #3f3f3f;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

.page1-content .toc h3 {
  margin-bottom: 20px;
}

.page1-content .toc ul {
  list-style: none;
  padding-left: 0;
}

.page1-content .toc li {
  margin-bottom: 10px;
}

.page1-content .bottom {
  margin-top: 3%;
}


/* SECTION 2: Introduction */

.page2-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 30px;
  gap: 10px;
  width: 100%;
}

.page2-content .text {
  flex: 1;
}

.page2-content .text p {
  margin-bottom: 20px;
}

.page2-content .text ul {
  padding-left: 20px;
}

.page2-content .text li {
  font-size: 20px;
}

.page2-content .images {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.page2-content .figure {
  display: flex;
  flex-direction: column;
  width: 33%;
  align-items: center;
  padding: 20px;
}

.page2-content .figure a {
  display: flex;
  display: inline-block;
  justify-content: center;
  text-align: center;
}

.page2-content .figure img {
  border-radius: 1%;
  object-fit: cover;
  display: block;
}

.page2-content span {
  margin-top: 20px;
}

/* BLUE_MOUNTAIN.HTML */

#blue_mountain .page-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 30px;
  padding-left: 60px;
  padding-right: 60px;
  gap: 10px;
  width: 100%;
}

#blue_mountain .page-content .button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: -20px;
}

#blue_mountain .page-content .text p {
  margin-top: 10px;
  font-size: 20px;
}

#blue_mountain .page-content .images {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#blue_mountain .page-content .images .image-block {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#blue_mountain .page-content .images .image-block img {
  border-radius: 2%;
  margin-top: 10px;
}

/* TANK.HTML */

#tank .page-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 30px;
  gap: 10px;
  width: 100%;
}

#tank .page-content .button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: -20px;
}

#tank .page-content .text {
  padding-left: 60px;
  padding-right: 60px;
}

#tank .page-content .text p {
  margin-top: 10px;
  font-size: 20px;
}

#tank .page-content .images {
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#tank .page-content .images .image-block {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tank .page-content .images .image-block img {
  border-radius: 2%;
  margin-top: 10px;
}


/* SECTION 3: Experience */

.page3-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 30px;
  gap: 10px;
  width: 100%;
}

.page3-content .text {
  flex: 1;
  font-size: 20px;
}

.page3-content .text p {
  margin-top: 20px;
}

.page3-content .table ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  gap: 10px 30px;
}

.page3-content .table li {
  flex: 1 1 30%;
}

/* SECTION 4: Theme: Opposites Attract */

/* SECTION 5: Have a good one! */

.page5-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 30px;
  gap: 10px;
  width: 100%;
}

.page5-content .text {
  padding-top: 80px;
  flex: 1;
}

.page5-content .text p {
  margin-top: 20px;
}

.page5-content .dog-dance {
  padding: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
